.novinky__clanky {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.clanky__box {
    background-color:lightgray;
    padding: 10px;
}

.clanky--datum {
    color:gray;
    font-weight: 800;
}

