@import "uvod.css";
@import "lastMinuteZajezdy.css";
@import "novinky.css";

body {
    font-family: 'Montserrat', sans-serif;
    margin: 25px 35px;
}

h2 {
    margin: 40px 0 20px 0;
    font-weight: 900;
}

h4 {
    color: orangered;
    font-weight: 900;
    margin: 20px 0 20px 0;
}

p {
    font-size: 15px;
    font-weight: 800;
}

footer {
    background-color:dimgrey;
    color:ghostwhite;
    padding: 15px 0 15px 0;
    position: auto;
    margin-top: 25px;
    display: flex;
    justify-content: center;
}