
header {
    display: grid;
    grid-template-columns: 4fr 1fr 1fr 1fr;
}

button {
    background-color: transparent;
    color: orangered;
    font-size: 18px;
    padding: 10px;
    border-color: transparent;
}

header button:hover,
header button:focus {
    background-color: orangered;
    color: white;
}

.tipy {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
    margin: 20px 0 20px 0;
    min-height: 300px;
}

.pohoda {
    background-image: url(podklady/palmy.jpg);
    background-repeat: no-repeat;   
    background-size: cover;
    width: 100%;
    height: auto;
    grid-row: 1 / span 2;
    grid-column: 1;
}

.klid {
    background-image: url(podklady/jezero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    grid-row: 1;
    grid-column: 2;

}

.vylet {
    background-image: url(podklady/nakole.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: auto;
    grid-row: 2;
    grid-column: 2;
}

.info {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 10px;

}

.box-uvod {
    background-color:lightgray;
    
    padding: 10px;
    
}

.znacky {
    object-position: center;
    
}

.znacky img {
    
   
}

.uprostred, .stred {
    text-align: center;
}

.nazev {
    color: white;
    font-weight: 800;
    font-size: 18px;
    margin: 15px;
}

.nazev-velky {
    color: white;
    font-weight: 800;
    font-size: 25px;
    margin: 15px;
}

.popis {
    color: white;
    margin: 15px;
}

.cena {
    margin: 15px;
}